/* col */
header {
    background: url("../img/logo.png") no-repeat fixed center center/cover;
}

.img-fit-25 {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

/*header video {
    min-width: 100%;
    min-height: 100%;
}*/

main .card-body:hover {
    background-color: antiquewhite;
}

/* col-sm */
@media (min-width: 576px) {

}

/* col-md */
@media (min-width: 768px) {

}

/* col-lg */
@media (min-width: 992px) {

}

/* col-xl */
@media (min-width: 1200px) {

}
