/* col */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.full {
    width: 100vw;
    height: 100vh;
}

.jumbotron-list {
    list-style-type: none;
}

footer .jumbotron {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

/* col-sm */
@media (min-width: 576px) {

}

/* col-md */
@media (min-width: 768px) {

}

/* col-lg */
@media (min-width: 992px) {

}

/* col-xl */
@media (min-width: 1200px) {
    .dropdown-item {
        border-bottom: 2px solid transparent;
    }

    .nav-item {
        border-bottom: 2px solid transparent;
    }

    .nav-item:hover, .dropdown-item:hover {
        border-bottom: 2px solid blue;
    }
}
